<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>JSON Data</title>

<style type="text/css">
	table,td,th {
		border: 1px solid gray;
		border-collapse: collapse;
		padding: 5px;
	}
	
	table tr:nth-child(odd) {
		background-color: #f2f2f2;
	}
	table tr:nth-child(even) {
		background-color: #ffffff;
	}


</style>

<script src="lib/angular.min.js"></script>

<script type="text/javascript">
	
	var app= angular.module('myApp',[]);
	
	app.controller('myController', function($scope, $http) {
		
		$http({method:"GET", url:"customers.json"}).then ( function(response) {
			$scope.myData=response.data.records;
			$scope.block="True Block";
			
		}, function(response) {
			$scope.myData=response.statusText;
			$scope.block="False Block";
		});
		
		$scope.myOrderBy= function(x) {
			$scope.fieldname=x;
		}
		
	});

</script>

</head>
<body>
	<div ng-app="myApp" ng-controller="myController">
		<table >
			<tr>
				<th>SNo</th>
				<th ng-click="myOrderBy('Name')">Name</th>
				<th ng-click="myOrderBy('City')">City</th>
				<th ng-click="myOrderBy('Country')">Country</th>
			</tr>
			<tr ng-repeat="x in myData|orderBy:fieldname">
				<td>{{$index+1}}</td>
				<td>{{x.Name}}</td>
				<td>{{x.City}}</td>
				<td>{{x.Country}}</td>
			</tr>
		</table>
		
		<p>{{block}}</p>
	</div>


</body>
</html>