<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Hello</title>
<script type="text/javascript" src="lib/angular.js"></script>

<script type="text/javascript" src="displayCity.js"></script>

</head>
<body>
	<div ng-controller="getDetails">
		
			<ul>
				<li ng-repeat="x in detailCollection">
					{{x.name+ " " +x.country}}
				</li>
			</ul>
			
			<table>
				<tr>
					<th>Name</th>
					<th>Country</th>
				</tr>
				<tr ng-repeat="x in detailCollection">
					<td>{{x.name}}</td>
					<td>{{x.country}}</td>
				</tr>
			
			</table>
	</div>
</body>
</html>